@model Magazzino.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductNameM" class="control-label"></label>
                <input asp-for="ProductNameM" class="form-control" />
                <span asp-validation-for="ProductNameM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailsM" class="control-label"></label>
                <input asp-for="DetailsM" class="form-control" />
                <span asp-validation-for="DetailsM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyM" class="control-label"></label>
                <input asp-for="MoneyM" class="form-control" />
                <span asp-validation-for="MoneyM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalM" class="control-label"></label>
                <input asp-for="CalM" class="form-control" />
                <span asp-validation-for="CalM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgM" class="control-label"></label>
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="ImgM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryM" class="control-label"></label>
                <input asp-for="CategoryM" class="form-control" />
                <span asp-validation-for="CategoryM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RowId" class="control-label"></label>
                <input asp-for="RowId" class="form-control" />
                <span asp-validation-for="RowId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

