
@{
    ViewData["Title"] = "Registro";
}

<h2>index</h2>

<form class="form-horizontal">
    <fieldset>
        
         
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Correo electrónico </font > </font> </label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label"> <font style="vertical-align: inherit;"> Contraseña </font > </label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 
                                    <font style="vertical-align: inherit;">   
                                            Caja
                                        </font>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Textarea </ font > </font> </label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea"> </textarea>
                            <span class="help-block"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Un bloque más largo de texto de ayuda que se rompe en una nueva línea y puede extenderse más allá de una línea. </font> </font> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Radios </font> </font> </label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> 
                                        <font style="vertical-align: inherit ; ">
                                            La primera opción es esta
                                        </font>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            La opción dos puede ser otra cosa.
                                        </font></CIP
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Selecciona </ font > </font> </label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select">
                                <option style="vertical-align: inherit;">   1  </option>
                                <option style="vertical-align: inherit;">   2  </option>
                                <option style="vertical-align: inherit;">   3  </option>
                                <option style="vertical-align: inherit;">   4  </option>
                                <option style="vertical-align: inherit;">   5  </option>
                                <option style="vertical-align: inherit;">   6  </option>
                            </select>
                                            <br>
                                            <select multiple="" class="form-control">
                                                <option style="vertical-align: inherit;">   1  </option>
                                                <option style="vertical-align: inherit;">   2  </option>
                                                <option style="vertical-align: inherit;">   3  </option>
                                                <option style="vertical-align: inherit;">   4  </option>
                                                <option style="vertical-align: inherit;">   5  </option>
                                                <option style="vertical-align: inherit;">   6  </option>


                                            </select>
</div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> cancelar </font> </font > </button>
                            <button type="submit" class="btn btn-primary"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Enviar </font> </font > </button>
                        </div>
                    </div>
                    </fieldset>
</form>
<!--sdsdsddsd-->